body {
    background-color: #ffffff;
}

.header-title {
    padding: 25px;
    margin-right: 15px;
    text-align: center;
    font-size: 50px;
    color: #000000;
    text-shadow: 1px 1px 25px #03a559;
    font-weight: 400;
    border: 5px dotted black;
}

nav { 
    padding: 25px;
    text-align: center;
}

.links {
    margin-right: 15px;
    text-align: center;
}

.image {
    margin-top: 0px;
    text-align: center;
}
